html, body {
	margin: 0;
}

div.console-window {
	position: absolute;
	top: 0;
	left: 0;
	
	background-color: rgb(48, 10, 36);

	min-width: 600px;
	min-height: 400px;

	width: 600px;
	height: 400px;

	border: 1px solid #fff;
	border-radius: 5px;

	overflow: hidden;

	resize: both;

}

div.console-window div.console {
	overflow: auto;
    height: calc(100% - 28px);
}

div.console-window div.output {
	padding: 10px;
}

div.console-window div.output div.command {
	width: 100%;
	margin-top: 10px;
}

div.console-window div.output div.command div {
	margin-top: 10px;
	font-size: 14px;
	font-family: Arial;
	color: #fff;
}

div.console-window div.output div.command span.cmd {
	width: 100%;
	font-size: 14px;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	outline: none;
	color: #fff;
	margin-left: 10px;
	font-family: Arial;
}

div.console-window div.caption {
	background-color: #4d4b44;
	color: #fff;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Arial;

	display: flex;
	justify-content: space-between;
	align-items: center;

	user-select: none;
}

div.console-window div.caption div {
	background-color: red;

	width: 10px;
	height: 10px;

	border-radius: 100%;
}

div.console-window span.username {
	color: #84d632;
	font-family: Arial;
	font-size: 14px;
}

div.console-window div.input {
	padding-left: 10px;
	padding-right: 10px;

	display: flex;
	justify-content: space-between;
}


div.console-window div.input input {
	width: 100%;
	font-size: 14px;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	outline: none;
	color: #fff;
	margin-left: 10px;
}

/**
#4d4b44 - caption
#84d632 - username
**/
